@model IEnumerable<Flashcards.DTOs.DeckDto>

@{
Layout = "_Layout";
}




<div class="card">
    <div class="card-header">
Oczekujące decki
    </div>   
    
    <div class="card-body">
        <div class="mb-1">
            <form asp-action="GetPendingDecks" method="get" >
                <input name="name"/>
                <button type="submit" class="btn btn-sm btn-primary">Szukaj</button>
            </form>
        </div>
        <table class="table table-bordered table-hover">
            <thead class="table-light">
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th>Autor</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var deck in Model)
            {
                <tr>
                    <td> @deck.Id</td>
                    <td> @deck.Name</td>
                    <td> @deck.UserEmail</td>
                    <td>
                        <form asp-action="ApproveDeck" asp-route-id="@deck.Id" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-success btn-sm" onclick="return confirm('Potwierdz zaakceptowanie');">Akceptuj</button>
                        </form>
                        <form asp-action="RejectDeck" asp-route-id="@deck.Id" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-secondary btn-sm" onclick="return confirm('Potwierdz odrzucenie');">Odrzuć</button>
                        </form>
                        <a class="btn btn-success btn-sm" href="/Flashcard?deckId=@deck.Id">Fiszki</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
  
   