@model IEnumerable<Flashcards.DTOs.DeckDto>

@{
Layout = "_Layout";
}


<div class="card">
    <div class="card-header">
        Lista Decków
    </div>
    <div class="card-body">
        <div class="mb-1">
            <form asp-action="GetDeck" method="get" >
                <input name="name" />
                <button type="submit" class="btn btn-sm btn-primary">Szukaj</button>
            </form>
        </div>
        <div class="mb-3">
            <a href="/Deck" class="btn btn-info">Moje decki</a>
            <a href="/Deck/explore" class="btn btn-info">Publiczne decki</a>
            <a href="/Deck/new" class="btn btn-success">Nowy deck</a>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th>Autor</th>
                <th>Status</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var deck in Model)
            {
                <tr>
                    <td>@deck.Id</td>
                    <td>@deck.Name</td>
                    <td>@deck.UserEmail</td>
                    <td>@deck.Status.ToPolish()</td>
                    <td>
                        @if (deck.UserId == (string)ViewBag.UserId)
                        {
                            <a class="btn btn-success btn-sm" href="/Deck/edit/@deck.Id">Edycja</a>
                            <form asp-action="DeleteDeck" asp-route-id="@deck.Id" method="post" style="display:inline;">
                                <button class="btn btn-danger btn-sm" type="submit" onclick="return confirm('Na pewno usunąć ten deck?');">Usuń</button>
                            </form>
                            <a class="btn btn-success btn-sm" href="/Flashcard?deckId=@deck.Id">Fiszki (@deck.Flashcards.Count())</a>
                        }
                        @if (deck.Flashcards.Any())
                        {
                            <form action="/DeckSession/decks/@deck.Id" method="post" style="display:inline;">
                                <button class="btn btn-primary btn-sm" type="submit">Nowa Gra</button>
                            </form>
                        }
                    </td>

                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
