@model Flashcards.DTOs.DeckSessionDto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deck Session</h2>

<div>
    <ul>
        <li>Length: @Model.SessionLength</li>
        <li>Limit: @Model.SessionLimit</li>
        <li>@Model.FlashcardQueues.Count()</li>
        <li><strong>Front:</strong> @Model.NextFlashcardQueue?.Flashcard?.Front</li>
        <li><strong>Back:</strong> @Model.NextFlashcardQueue?.Flashcard?.Back</li>
        
        
    </ul>
</div>

@if (Model.NextFlashcardQueue != null)
{
    <form asp-action="Update" asp-controller="DeckSession" asp-route-deckSessionId="@Model.Id" method="post">
        <input type="hidden" name="Quality" value="1" />
        <input type="hidden" name="FlashcardsQueueId" value="@Model.NextFlashcardQueue.Id" />
        <button type="submit">Answer Quality 1</button>
    </form>
}
